<%= form_with(model: diary, local: true) do |form| %>
  <% if diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diary.errors.count, "error") %> prohibited this diary from being saved:</h2>

      <ul>
        <% diary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "タイトル" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label "内容" %>

<!--    https://www.web-knowledge-info.com/wp/ruby-on-rails32/ を参考にAction Textを導入しました-->
    <%= form.rich_text_area :text %>
  </div>

  <div class="field">
    <%= form.label "誰かに過去を変えられたくない！" %>
    <%= form.check_box :is_edited %>
  </div>

  <div class="actions">
    <%= form.submit "日記を投稿する", class:"btn btn-dark", data: {confirm: '日記を投稿すると削除・編集ができません！誤字脱字等を確認しましたか？'}%>
  </div>
<% end %>
