<p id="notice"><%= notice %></p>

<h1>誰かの日記</h1>

<table class="table">
  <thead>
  <tr>
    <th>タイトル</th>
    <th>投稿された日</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @diaries.each do |diary| %>
    <tr>
      <td><%= diary.title %></td>
      <td><a href="/created_days/<%= diary.created_day_id %>"><%= diary.created_day.day %></a></td>
      <td><%= button_to '本文を読む', diary, {method: :get, class: "btn btn-dark"} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>


<%= button_to '日記を投稿する', new_diary_path, {method: :get, class: "btn btn-dark"} %>
