<p id="notice"><%= notice %></p>
<!--https://getbootstrap.jp/docs/4.2/components/card/ を参考にしました-->
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @diary.title %>  (<%= @diary.created_day.day %>投稿)</h5>
    <p class="card-text"><%= @diary.text %><%= @diary.last %></p>
  </div>
</div>
<br>
<% if !@diary.is_edited %>
  <%= button_to 'この日記の結末を変える', edit_diary_path(@diary), {method: :get, class: "btn btn-dark"} %>
<% else %>
  この日記は既に結末が変更されているか、投稿者が変更を許可していません。
<% end %>
<br>
<%= button_to '＜＜日記一覧に戻る', diaries_path, {method: :get, class: "btn btn-dark"} %>
