<p id="notice"><%= notice %></p>
<h1><%= @created_day.day %>に投稿された日記一覧</h1>

<table class="table">
  <tbody>
  <% @created_day.diaries.each do |diary| %>
    <tr>
      <td><%= diary.title %></td>
      <td><%= button_to '本文を読む', diary, {method: :get, class: "btn btn-dark"} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= button_to '＜＜日付け一覧に戻る', created_days_path, {method: :get, class: "btn btn-dark"} %>
